---

---

<div>
  <header id="home" class="top-0 left-0 w-full relative z-10">
    <nav class="p-4 hidden md:block">
      <ul class="flex justify-end">
        <li class="mx-4"><a href="#home">Inicio</a></li>
        <li class="mx-4"><a href="#about">Sobre mi</a></li>
        <li class="mx-4"><a href="#projects">Proyectos</a></li>
        <li class="mx-4"><a href="#skills">Habilidades</a></li>
      </ul>
    </nav>

    <nav class="p-4 md:hidden">
      <div>
        <img
          src="../../src/assets/logo.png"
          alt="logo tlacuano - dev - Jose Emilio Enriquez Torres"
          class="w-12"
        />
      </div>
    </nav>
  </header>

  <main>
    <section class="h-screen">
      <div
        class="lg:hidden absolute inset-0 bg-[url(../../src/assets/fondoSound.png)] bg-no-repeat bg-bottom opacity-10"
      >
      </div>

      <div class="relative z-10">
        <article class="h-full">
          <div class="flex flex-col pt-20 items-center lg:items-start lg:pt-0">
            <h2 class="text-md mx-4 md:text-2xl lg:text-2xl font-bold">
              HOLA! SOY <span class="text-purple-500">MR. TLACUANO</span>
            </h2>

            <h1
              class="text-[40px] mt-1 text-center md:text-7xl lg:text-2xl font-bold leading-none"
            >
              DESARROLLADOR FULLSTACK
            </h1>

            <h3
              class="text-md mx-4 mt-6 text-center md:text-lg md:mt-12 md:font-bold"
            >
              <span class="text-purple-500">+2 años</span> de experiencia desarrollando
              y dando soporte a código.
            </h3>
          </div>

          <div class="flex flex-col items-center mt-12">
            <button
              class="w-[130px] border-2 border-purple-500 rounded-md text-purple-500 font-bold p-2 hover:text-purple-600 hover:shadow-md hover:shadow-purple-500 active:bg-purple-500 active:text-white active:shadow-md transition-all"
              >Descargar CV</button
            >
            <button
              class="mt-4 w-[130px] border-2 border-withe rounded-md text-white font-bold p-2 hover:text-purple-500 hover:shadow-md hover:shadow-purple-500 active:bg-purple-500 active:text-white active:shadow-md transition-all"
              >Github</button
            >
          </div>
        </article>

        <article class="hidden lg:block">
          <img
            src="../../src/assets/logo.png"
            alt="logo tlacuano - dev - Jose Emilio Enriquez Torres"
          />
        </article>
      </div>
    </section>

    <section id="about">
      <article>
        <div>
          <img
            src="../../src/assets/profile.jpg"
            alt="Jose Emilio Enriquez Torres"
            class="w-10"
          />
        </div>
        <div>
          Mi nombre es Emilio, y soy un analista programador y desarrollador
          fullstack conocido por mi eficiencia y habilidad para trabajar bien
          bajo presión y en equipo. Mi curiosidad y dedicación me impulsan a
          aprender rápidamente y a mejorar constantemente en los ámbitos
          profesional y personal.
        </div>
      </article>

      <article>
        <div>
          Mi enfoque profesional se basa en la comunicación efectiva, la
          resolución de problemas y la colaboración
        </div>
      </article>

      <article>
        <div>
          <h5>Titulado como</h5>
          <p>
            Técnico Superior Universitario en Tecnologías de la Información Área
            de Desarrollo Software Multiplataforma
          </p>
        </div>

        <div>
          <h5>Estudiando</h5>
          <p>Ingenieria en Desarrollo y Gestión de Software</p>
        </div>
      </article>

      <article>
        <table>
          <tr>
            <th> experiencia laboral </th>
            <td>
              <table>
                <tr>
                  <td>Desarrollador Fullstack</td>
                  <td>2020 - 2021</td>
                </tr>
                <tr>
                  <td>Desarrollador Fullstack</td>
                  <td>2020 - 2021</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </article>
    </section>

    <section id="projects">
      <article>
        <h2>Proyectos</h2>
        <div>
          <img
            src="../../src/assets/logo.png"
            alt="logo tlacuano - dev - Jose Emilio Enriquez Torres"
          />
          <h3>Proyecto 1</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            quod, voluptates, quae, quia quos quidem quibusdam dolorum
            repudiandae quas doloremque
          </p>
        </div>

        <div>
          <img
            src="../../src/assets/logo.png"
            alt="logo tlacuano - dev - Jose Emilio Enriquez Torres"
          />
          <h3>Proyecto 2</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            quod, voluptates, quae, quia quos quidem quibusdam dolorum
            repudiandae quas doloremque
          </p>
        </div>

        <div>
          <img
            src="../../src/assets/logo.png"
            alt="logo tlacuano - dev - Jose Emilio Enriquez Torres"
          />
          <h3>Proyecto 3</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            quod, voluptates, quae, quia quos quidem quibusdam dolorum
            repudiandae quas doloremque
          </p>
        </div>
      </article>
    </section>

    <section id="skills">
      <article>
        <div>
          <img src="../../src/assets/devops.png" alt="devops" />
        </div>
        <div>Me gusta involucrarme activamente en cada fase.</div>
      </article>

      <article>
        <div>
          Me considero una persona proactiva y organizada, capaz de adaptarme
          rápidamente a nuevos retos. Trabajo bien bajo presión y me encanta
          generar y ser parte de un ambiente de apoyo y aprendizaje mutuo dentro
          de los equipos en los que participo. Además, soy consciente de la
          importancia de mantener una actitud positiva y abierta
        </div>
      </article>

      <article>
        <div>
          <h5>Principales tecnologías</h5>
          <ul>
            <li>
              <img src="../../src/assets/main-tecnologies/node.png" alt="" />
            </li>
            <li>
              <img src="../../src/assets/main-tecnologies/vue.png" alt="" />
            </li>
            <li>
              <img src="../../src/assets/main-tecnologies/react.png" alt="" />
            </li>
            <li>
              <img src="../../src/assets/main-tecnologies/angular.png" alt="" />
            </li>
            <li>
              <img
                src="../../src/assets/main-tecnologies/springboot.png"
                alt=""
              />
            </li>
          </ul>
        </div>
      </article>

      <article>
        <div>
          <h5>Conocimientos adicionales</h5>
          <ul>
            <li>Metodologías ágiles</li>
            <li>Git</li>
            <li>SQL</li>
            <li>SCRUM</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Java</li>
            <li>Python</li>
            <li>PHP</li>
            <li>MySQL</li>
          </ul>
        </div>
      </article>
    </section>
  </main>

  <aside>
    <ul>
      <li><a href="#home">Inicio</a></li>
      <li><a href="#about">Sobre mi</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#skills">Habilidades</a></li>
    </ul>
  </aside>
</div>
